flake.*
*.ipynb
.mamba/
_tmp.py
/data
/outputs
__pycache__/
*.egg-info/
dist/
build/
*.pyc

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
# Added by code-review-graph
.code-review-graph/
